.footer {
    width: 100%;
    height: 120px;
}

.socials {
    margin-top: 30px;
    margin-bottom: 30px;
}

.socials a {
    margin: 0 30px;
    border: 2px solid transparent;
    border-radius: 4px;
    width: 40px;
    height: 40px;
    display: inline-flex;
    padding: 2px;
}

.socials a:hover {
    border-color: white;
}

@media (min-height: 780px) {
    .footer {
        position: absolute;
        left: 0;
        bottom: 0;
    }
}