.window {
    background: #252a33;
    color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px #333;
    margin: 50px auto;
}

@media (max-width: 575px) {
    .window {
        margin: 50px 16px 50px 16px;
    }
}

.window-header {
    display: flex;
    align-items: center;
    padding-bottom: 10px;
    border-bottom: 1px solid #333;
}

.window-buttons {
    display: flex;
}

.window-buttons-right {
    height: 15px;
    width: 60px;
}

.window-button {
    height: 15px;
    width: 15px;
    border-radius: 50%;
    margin-right: 5px;
}

.close-button {
    background: #ff605c;
}

.minimize-button {
    background: #ffbd44;
}

.maximize-button {
    background: #00ca56;
}

.window-title {
    flex-grow: 1;
    text-align: center;
}

.window-body {
    white-space: pre-wrap;
}

.window-prompt {
    color: #33ff00;
}

.window-response {
    color: #ffbd44;
}

.window-cursor {
    display: inline-block;
    width: 10px;
    background-color: #fff;
    margin-left: 5px;
    animation: blink 1s step-start infinite;
}

@keyframes blink {
    50% {
        background-color: transparent;
    }
}

.terminal {
    font-family: 'Courier New', Courier, monospace;
}

.responsive-window {
    width: 60%;
}

@media (max-width: 768px) {
    .responsive-window {
        width: 100%;
        padding: 10px;
    }

    .about-img {
        width: 200px;
        height: 200px;
    }

    .about-title {
        font-size: 1.5rem;
        text-align: center;
    }

    .about-text {
        font-size: 1rem;
        text-align: justify;
    }

    .about-container {
        padding: 1rem;
        margin: 1rem 0;
    }
}